[Desktop Entry]
Type=Application
Name=Obsidian
Exec=/home/tjmisko/.config/scripts/obsidian --no-sandbox --ozone-platform-hint=auto %u
Terminal=false
Categories=Office;Utility;
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;
